<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Contact</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content id="AddContactPage">
  	<div class="Form">
		<label class="item item-input item-stacked-label" id="passions">
			<span class="input-label">Contact Email Or Phone</span>
			<input type="text" placeholder="(Enter email or Phone number)" />
		</label>
		<label class="item item-input item-stacked-label" id="passions">
			<a href="" class="input-label qr-scan-button" ng-click="scanQr()">Add by QR Code</a>
		</label>
		<br/>
		<center>
			<button class="button button-positive full-btn">
				Add Contact
			</button>
		</center>
  	</div>
  </ion-content>
</ion-modal-view>