<ion-view view-title="Account" id="AccountPage">
  <ion-content>
	   <div class="row row-center">
	   	<div class="success message" ng-show="success">
	   		Payment Submitted
	   	</div>
		</div>

   <div class="list Form">
      <label class="item item-input item-stacked-label" id="passions">
        <span class="input-label">Payment Amount</span>
        <input type="text" placeholder="0.00" />
      </label>
      <div class="item full-select">
		<span class="input-label">Send Too</span>
		<select ng-model="contacts"> 
			<option ng-repeat="contact in contacts" value="{{contact.id}}">{{contact.name}}</option> 
		</select>
      </div>
  	</div>
  	<center>
	<button class="button button-positive full-btn" ng-click="submitPayment()">
		Send Payment
	</button>
	</center>
</ion-content>
