<ion-view id="landingPage" hide-nav-bar="true">
  <ion-content>

    <img src="img/logo-landing.png" class="logo" />
    <p class="tagline">
      Instantanious payments to family, business and friends.
    </p>

    <img src="img/phone-screen.png" />

    <p class="agreement">
      By continuing, you agree to our <strong>Terms of Service</strong> and <strong>Privacy Policy</strong>
    </p>
    <center>
	    <button class="button button-positive" ng-click="login()">Sign in</button>
	    <button class="button button-positive" ng-click="register()">Register</button>
    </center>
  </ion-content>
</ion-view>